@model List<Collection>
<div id="Collection_User_List">
    @foreach(Collection collection in Model)
    {
        <h3>Collection ID# @collection.CollectionId</h3>
        <div class="Collection_Section">
            <div class="Collection_Name_And_Tag">
                    <div>
                        <span>Collection Name: </span>
                        <span>Collection Tag: </span>
                    </div>
                    <div>
                      <span>@collection.Tag</span>
                      <span> @collection.Name</span>
                    </div>
            </div>
            <div class="Collection_Edit_Delete">
                <a class="btn btn-light" asp-action="Delete" asp-route-CollectionId="@collection.CollectionId">Delete This Collection</a>
            </div>
        <div class="Item_Container">
        @foreach(Item item in collection.Items)
        {
            <div class="Item_Section">
            <div class="Item_Name">
                <h5>@item.Name</h5>
            </div>
                <div class="Edit_And_View_Buttons">
                    <a class="btn btn-light" asp-controller="Item" asp-action="Delete" asp-route-ItemId="@item.itemId">Delete This Item</a>
                </div>
                <img src="@ImageConverter.byteArrayTo64BaseEncode(item.image)"></img>
            </div>
        }
        </div>
        </div>
    }
</div>

